only-built-dependencies[]=esbuild
only-built-dependencies[]=workerd
minimum-release-age-exclude[]=wrangler
minimum-release-age-exclude[]=miniflare
minimum-release-age-exclude[]=workerd
minimum-release-age-exclude[]=@cloudflare/workerd-linux-64
